* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    background-color: #c9d7e0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    padding: 0;
    text-align: center;
}

header {
    width: 100%;
    background-color: rgb(12, 74, 161);
    color: white;
    padding: 30px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #bce0ff;
}

.columns {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.column h2 {
    margin-bottom: 10px;
    color:  rgb(12, 74, 161);
}

.column p {
    margin-bottom: 20px;
    font-size: 0.95rem;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background-color: #3d8cdc;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #2b74c4;
}

footer {
    width: 100%;
    background-color: rgb(12, 74, 161);
    color: white;
    padding: 20px 0;
    margin-top: auto;
    font-size: 0.9rem;
}

footer p {
    margin-bottom: 8px;
}

footer a {
    color: #bce0ff;
    text-decoration: none;
    transition: color 0.2s ease;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.container {
    text-align: center;
}

header h1 {
    padding-bottom: 10px;
    font-weight: normal;
}